{
  "extends": [
    "@via-profit-services/eslint-config/react"
  ],
  "rules": {
    "file-progress/activate": 1,
    "import/extensions": ["error", "never",
      {
      "md": "always"
      },
      {
      "mustache": "always"
      }
    ]
  },
  "plugins": [
    "file-progress"
  ]
}